header{
    display: flex;
    margin: 25px;
    padding: 136px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #335a99;
    background-repeat: no-repeat;
    background-image: url("no background.png");
    background-size: 30%;
    background-position: right bottom;
}


.headerText{
    width: 100%;
    font-family: "Covered By Your Grace", "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
    text-align: center;
    padding-bottom: 150px;
    padding-top: 150px;
    border-radius: 30px;
    color: #f4bd59;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.submit{
    font-size: 10px;   
    margin-top: 16px;
    padding: 4px 16px;
    border-radius: 4px;
    background-color: #fbfb8b;
    font-family: "Comic Sans MS";
    cursor: pointer;
    border: 1px solid black;
    align-content: center;
}

.submit:hover{
    background-color: #bdbd68;
}

.game{
    margin: 24px;
    display: flex;
    width: 100%;
}

.leftcolumn{
    font-family: "Comic Sans MS";
    width: 137px;
}
.rightcolumn {
    display: flex;
    /* height: 100%; */
    flex-direction: column;
    flex: 77%;
}
  
.row {
    display: flex;
    flex: 30%;
    height: 220px;
    justify-content: center;
    padding: 4px;
}
  
.row img {
    vertical-align: middle;
    height: 100%;
    width: auto;
    padding: 4px;
    cursor: pointer;
}

.finishPage{
    display: flex;
    margin: 25px;
    padding: 132px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #335a99;
    font-family: "Comic Sans MS";

}

#finalScore{
    width: 100%;
    color: white;
    text-align: center;
}